.next
next-env.d.ts
node_modules
yarn.lock
package-lock.json
public
/*.js
.editorconfig
.gitignore
.prettierignore
.prettierrc
docker-compose.yaml
Dockerfile
next.config.js
package.json
postcss.config.js
README.md
tailwind.config.js
tsconfig.json
